<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/images/resumefavicon.jpg" rel="icon" type="image/jpg">
    <title>Pratik Bhosale</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#internships">Internships</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#courses">Courses</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/bannerbg.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/profile.jpg" alt="Image"/></a></div>
          <div class="h2 title">Pratik Bhosale</div>
          <p class="category text-white">Data Science Enthusiast</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='Resume-Pratik_Bhosale.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/Lordlunatic12" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/pratik-bhosale-121101/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Passionate, Practical and Versatile Learner looking to Intern in an Organization so as to improve technical and inter-personal skills. Highly Curious and a Quick Learner, always looking to learn new things and a team player.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">20</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">bhosalepratik1201@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+91-9987972416</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Kalyan West, Dist. Thane, Maharashtra, India</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Hindi, Marathi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Python, Java, SQL, HTML, CSS<br><br>
        <b>Tools:</b> NumPy, Pandas, Matplotlib, OpenCV, PowerBI<br><br>
        <b>Database Management Systems:</b> MySQL<br><br>
        <b>Internet Technologies:</b> HTML5, CSS, XML
      </div>
    </div>
  </div>
</div>

<div class="section" id="internships">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title"> Internships </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>March 2021 - Present</p>
            <div class="h5">Fr.C.Rodrigues Institute of Technology</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Placement Co-Ordinator</div>
            <p>
              <ul>
                <li>Keep track of all students interested in placements</li>  
                <li>Guide them in all steps of the placement procedure</li>
                <li>Co-ordinating with Placement cell and maintain records of interested, eligible and placed students for various companies visiting the campus.</li>
                <li>Assisting HR's throuhght the placement drive</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>February 2022 - Present</p>
            <div class="h5">SoctAI Technology</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">AI/ML Research Intern</div>
            <p>
              <ul>
                <li>Software Development and Deployment</li>  
                <li>Feature Implementation in Python</li>
                <li>Product Design</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>January 2022 - February 2022</p>
            <div class="h5">The Sparks Foundation</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Science Intern</div>
            <p>
              <ul> 
                <li>Learning Supervised Machine Learning Techniques</li>
                <li>Working on a Supervised Machine Learning Model</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>October 2021 - December 2021</p>
            <div class="h5">The Tann Mann Foundation</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Yolo Object Detection Intern</div>
            <p>
              <ul>
                <li>Creating Object Datasets</li>  
                <li>Object Labelling</li>
                <li>Model Creation</li>
                <li>Model Testing</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="projects">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title"> Projects </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">Python, Computer Vision</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Automated Attendance System Using Facial Recognition</div>
            <p>
              <ul>
                <li>Add new Student.</li>  
                <li>Take Attendance</li>
                <li>Create Monthly Attendance Excel Sheet of every subject.</li>
                <li>Defaulter's Attendance List of every subject.</li>
                <li>Calculate Attendance Marks of every subject.</li>
                <li>The Graphical User Interface (GUI) is be simple and user-friendly.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">Python, Data Science</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Customer Attrition Prediction System</div>
            <p>
              <ul> 
                <li>Exploratory Data Analysis</li>
                <li>Using various Supervised Machine Learning Techniques for prediction</li>
                <li>Interactive Dashboard using PowerBI</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">Python, Computer Vision</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Drowsiness Detection System</div>
            <p>
              <ul>
                <li>Continuously monitor eyes of driver and calculate score accordingly.</li>  
                <li>Score increases if eyes are closed.</li>
                <li>Raise alarm if score increases than threshold set.</li>
                <li>Score is real time and it decreases if eyes are opened.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">Python, Django</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">QMart - Online Store for Local Retail</div>
            <p>
              <ul>
                <li>Attractive and Easy to use UI.</li>  
                <li>Includes all online shopping site functionalities.</li>
                <li>Easy to manage Admin console.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="courses">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title"> Courses and Certifications </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">Coursera Project Network</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Object Localization with TensorFlow</div>
            <p>
              <ul>
                <li>Certificate ID: NSR65VW3YLXW</li>  
                <li><a href="coursera.org/verify/NSR65VW3YLXW" target="_blank">Click to Verify</a></li>
              </ul>
              </p>
          </div>
        </div>
      </div
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">IBM Developer Skills Network.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Introduction to Data Science</div>
            <p>
              <ul> 
                <li>Certificate ID: f0e124a18d7e4340a6178dbb4d83602f</li>
                <li> <a
                  href="https://www.credly.com/badges/b878d51f-d162-46ed-8dfa-f88142553bd9/public_url" target = "_blank">Click to Verify</a></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">IBM Developer Skills Network</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Analysis with Python</div>
            <p>
              <ul>
                <li>Certificate ID: 660d0c10927f4bc1a7a66de16e338d18</li>  
                <li><a
                  href = "https://www.credly.com/badges/cc7e648a-6d3d-4742-a3cc-5d19d119cb17/public_url" target = "_blank" >Click to Verify</a></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <div class="h5">IBM Developer Skills Network</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Science Methodology</div>
            <p>
              <ul>
                <li>Certificate ID: 497f9aba0a6349699ad261895c79a3ce</li>  
                <li><a
                  href="https://www.credly.com/badges/1244494a-ea1f-4304-8933-a89680b20b31/public_url" target = "_blank">Click to Verify</a></li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2023</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.E Information Technology</div>
            <p class="category">Fr. Conceicao Rodrigues Institute of Technology</p>
            <p class="category">UNIVERSITY OF MUMBAI</p>
            <p>CGPI : 9.29 </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2019</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Science</div>
            <p class="category">B. K. Birla College of Arts, Science & Commerce (Autonomous)</p>
            <p>Specialization : Computer Science </p>
            <p>Achieved : 70% </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017</p>
            <div class="h5">Secondary</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">SSC</div>
            <p class="category">Lourdes High School and Junior College</p>
            <p>Achieved : 93.60% </p>
          </div>
        </div>
      </div>
    </div>
    

<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/map.PNG')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>
                        
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Flat No.19, Matru Prem Society, Rambaug Lane No.4, Kalyan West, 421301</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+91-9987972416</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>bhosalepratik1201@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" target="_blank" href="https://www.instagram.com/lordlunatic/?hl=en"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/Lordlunatic12"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/pratik-bhosale-121101/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Pratik Bhosale</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>